html {
    text-align: center;
    overflow-x: hidden;
    width: 100vw;
}

body {
    display: flex;
    flex-flow: column wrap;
    background-color: #131313;
    width: 100vw;
    align-content: center;
}

.App {
    background: rgb(95, 71, 51);
    margin: 20px;
}

.container-section {
    background: rgb(246, 232, 171);
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 60vw;
    min-width: 300px;
}